:root {
  --content-width: 1200px;
  --header-height: 100px;
  --footer-height: 100px;
  --general-padding: 10px;
  --dark-color: black;
  --light-color: white;
  --accent-color: rgb(250,100,250);
  --column-template: calc(calc(100% - var(--content-width)) / 2) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(calc(100% - var(--content-width)) / 2);
  --default-template-areas: ". content content content content content content content content content content content content .";
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: var(--header-height) auto auto var(--footer-height);
  grid-template-areas: 
  "header"
  "github"
  "content"
  "footer";
  grid-gap: var(--general-padding);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  grid-area: header;
  display: grid;
  background-color: var(--accent-color);
  color: var(--dark-color);
  grid-template-columns: var(--column-template);
  grid-column-gap: var(--general-padding);
  grid-template-areas: ". logo logo menu menu menu menu menu menu menu menu login login .";
  align-items: center;
  justify-content: center;
  padding-top: var(--general-padding);
  padding-bottom: var(--general-padding);
}

.App-header a {
  color: var(--dark-color);
}

#ccm-logo {
  height: 30px;
  grid-area: logo;
}

.menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--general-padding);
}

.login.github {
  grid-area: login;
}

.state.github {
  grid-area: github;
}

main {
  grid-area: content;
  display: grid;
  min-height: calc(100vh - var(--header-height) - var(--header-height));
  grid-template-columns: var(--column-template);
  grid-template-areas: var(--default-template-areas);
}

main > div {
  grid-area: content;
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding-top: var(--general-padding);
  padding-bottom: var(--general-padding);
}